@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>
<br/>

<address>
    <strong>Разработчик:</strong> С. Чернов
</address>

<address>
    <strong>Support:</strong> shefenator@gmail.com <br />
</address>