@{
    ViewBag.Title = "Стартовая";
}

<div class="jumbotron">
    <h1>ОН-ЛАЙН КАТАЛОГ КОНТАКТОВ</h1>
    <p class="lead">Он-лайн каталог контактов поможет с важными для вас датами и событиями.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Дни рождения</h2>
        <p>
            В этом разделе отображается информация о днях рождения важных для вас людей.
            Теперь вы не пропустите ни одной важной даты!            
        </p>
        <p><a class="btn btn-default" href="/Contact/Birthday">В раздел &raquo;</a></p>    
    </div>
    <div class="col-md-4">
        <h2>Праздники</h2>
        <p>
            В этом разделе отображается информация о важных для вас праздниках.
            Загляните в раздел и вы узнаете какой сегодня праздник!        
        </p>
        <p><a class="btn btn-default" href="/Holiday/Holiday">В раздел &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Уведомления</h2>
        <p>
            В этом разделе отображаются важные для вас уведомления, события и даты.
            Загляните в раздел и вы увидете напоминание важных событий!!
        </p>
        <p><a class="btn btn-default" href="/Notice/Notice">В раздел &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Отзывы</h2>
        <p>
            В этом разделе вы можете оставить свои отзывы, комментарии и пожелания!
        </p>
        <p><a class="btn btn-default" href="/Comments/Index">В раздел &raquo;</a></p>
    </div>
</div>